body {
  font-family: Roboto, sans-serif;
  background-color: #78accd;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div.disabled{
    opacity: 0.3;
}
div.day{
    background-color: #de6e46;
    color: #fff;
    border-color: #de6e46;
}
div.plan{
    border-color: #de6e46;
    position: relative;
}
div.plan:after, div.plan-2:after{
    content: "6";
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -6px;
    right: -6px;
    background-color: #de6e46;
    border-radius: 50%;
    color: #fff;
    font-size: 10px;
}
div.plan-2{
    border-color: #ae5989;
    position: relative;
}
div.plan-2:after{
    content: "5";
    background-color: #ae5989;
}

/* CALENDAR */
.calendar{
    width: 100%;
    max-width: 400px;
    margin: 150px auto;
    background-color: #fff;
}

/* HEADER */
.calendar-header{
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: #7d8997;
    font-weight: 600;
    border-bottom: 1px solid #dedede;
}

/* SECTION */
.calendar-section{
    padding: 23px 31px 27px 31px;
    border-bottom: 1px solid #dedede;
}
.calendar-section-weeks{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    column-gap: 17px;
    row-gap: 10px;
    margin-bottom: 10px;
}
.week-item{
    width: 34px;
    height: 34px;
    font-weight: 600;
    color: #7d8997;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendar-section-days{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    column-gap: 17px;
    row-gap: 10px;
}
.day-item{
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid transparent;
}

/* FOOTER */
.calendar-footer{
    height: 74px;

}
.calendar-footer-info{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-weight: 600;
}
.info-add{
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #df7049;
    border-radius: 50%;
}